@import '~mixins';

.button {
  @include resetButton;

  cursor: pointer;
  padding: 10px 20px;
  color: var(--color-background);
  border-radius: 6px;
  transition:
    color 0.4s,
    background-color 0.3s;
  background-color: var(--color-primary-lighter);

  &:hover:not(:active, :disabled) {
    background-color: var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-gray-darkest);
    background-color: var(--color-gray-light);
  }
}
