.it-navbar {
  flex-direction: column;
  gap: 50px;
  font-size: 5vw;

  &, &__block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__block {
    height: 100%;
    background-color: var(--secondary);
  }
}
