.block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  box-shadow: 0px 0px 30px -6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-gray-lighter);

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }
}
